WCF_Client/WCF_Client/Connected Services/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server" />
  <xs:element name="EgyKutyaGetCS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EgyKutyaGetCSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="EgyKutyaGetCSResult" nillable="true" type="q1:Kutya" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgyKutyaGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EgyKutyaGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="EgyKutyaGetResult" nillable="true" type="q2:Kutya" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgyKutyaPost">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EgyKutyaPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="EgyKutyaPostResult" nillable="true" type="q3:Kutya" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgyKutyaPostCS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EgyKutyaPostCSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="EgyKutyaPostCSResult" nillable="true" type="q4:Kutya" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KutyakListaja">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KutyakListajaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="KutyakListajaResult" nillable="true" type="q5:ArrayOfKutya" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KutyakListajaCS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KutyakListajaCSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="KutyakListajaCSResult" nillable="true" type="q6:ArrayOfKutya" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgyKutyaAddCS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="kutya" nillable="true" type="q7:Kutya" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgyKutyaAddCSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EgyKutyaAddCSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgyKutyaAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="kutya" nillable="true" type="q8:Kutya" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgyKutyaAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EgyKutyaAddResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>